<div class="tickets__header">
  <app-tickets-choose-date (selectDate)="selectDate($event)"></app-tickets-choose-date>
  <app-tickets-choose-time
    *ngIf="globalService.getSelectedDate() | async"
    (selectTime)="selectTime($event)"
  ></app-tickets-choose-time>
</div>
<app-tickets-list *ngIf="tickets.length > 0" [tickets]="tickets" [sum]="orderSum"></app-tickets-list>
<a
  class="tickets__next-step"
  routerLink="/order"
  mat-stroked-button
  mat-ripple color="primary"
  [disabled]="!isSelected">Next Step
</a>
