<h1>Order form</h1>

<form [formGroup]="orderForm" (ngSubmit)="submit()">

  <div class="order-form__row">
    <mat-checkbox formControlName="policy">I agree with the policy</mat-checkbox>
  </div>
  <div class="order-form__row">
    <label>Gender: </label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
  </div>

  <label>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" [errorStateMatcher]="matcher">
      <mat-error *ngIf="orderForm.get('email')?.hasError('email') && !orderForm.get('email')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="orderForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </label>

  <label>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Nick" formControlName="firstName" [errorStateMatcher]="matcher">
      <mat-error *ngIf="orderForm.get('firstName')?.hasError('required')">
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </label>

  <label>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" [errorStateMatcher]="matcher">
      <mat-error *ngIf="orderForm.get('lastName')?.hasError('required')">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </label>

  <div formGroupName="address">
    <h2>Address</h2>


    <label>
      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" [errorStateMatcher]="matcher">
        <mat-error *ngIf="orderForm.get('address')?.get('street')?.hasError('required')">
          Street is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </label>

    <label>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" [errorStateMatcher]="matcher">
        <mat-error *ngIf="orderForm.get('address')?.get('city')?.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </label>

    <label>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput formControlName="state" [errorStateMatcher]="matcher">
        <mat-error *ngIf="orderForm.get('address')?.get('state')?.hasError('required')">
          State is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </label>
  </div>

  <button
    mat-stroked-button
    mat-ripple color="primary"
    [disabled]="!orderForm.valid">Next Step
  </button>
</form>
